SITE_NAME='Bibliotroca'
API_URL='http://localhost:8888'
PERMITTED_HOST='*' #host permitido para utilizar a API, use * para liberar para todos (não recomendado) ou o ip correto do front-end (ex: http://localhost:5173)

DB_HOST=''
DB_NAME=''
DB_USER=''
DB_PASSWORD=''

JWT_SECRET='bibliotroca-jwt-secret'

GOOGLE_CREDENTIALS= 'googleauthcredentials.json' #nome do arquivo json das credenciais para autenticação com google
GOOGLE_REDIRECT_URI='http://localhost:5173' #uri para o redirecionamento após o login com o google

EMAIL=''
EMAIL_CODE=''
CONTACT_NUMBER=''
CONTACT_MAIL=''